    .page{
    float:right;
        font-size: 12px;
        font-family: "Microsoft YaHei";
        margin-top:10px;
        /*border: solid 1px red;*/
    }
    .page a{
        display: block;
        float: left;
        text-decoration: none;
        color: #9d9d9d;
        font-size: 12px;
        text-align: center;
        border: solid 1px #dbdbdb; 
    }
    .page a:hover{
        background: #ceedff;
    }
       .preNum,.nextNum{
        width: 50px;
        height: 22px;
        border: solid 1px #dbdbdb;
        background: #f1f1f1;
        float: left;
        line-height: 22px;
        text-align: center;
        color: #9c9c9c;
        margin: 0 5px;
       }
       .aNum{
        /*width: 22px;*/
        height: 17px;
        line-height: 17px;
         margin: 3px 2px;
         padding: 0 8px;
       }
       .currentNum{
        height: 17px;
        line-height: 18px;
        color: #0fa7fd;
        float: left;
        margin: 3px 2px;
        text-align: center;
       }
       .dotNum{
        display: block;
        float: left;
        /*width: 22px;*/
        height: 17px;
        line-height: 17px;
        /*text-align: left;*/
        text-align: center;
        color: #9e9e9e;
        margin: 0 5px;
       }
       .allNum{
        display: block;
        float: left;
        /*width: 115px;*/
        height: 22px;
         text-align: left;
         margin-left: 5px;
         color: #0fa7fd;
         line-height: 23px;
       }
       .goPageNum{
        display: block;
        float: left;
        width: 120px;
        _width: 170px;
        height: 22px;
        line-height: 23px;
        margin-left: 25px;
        color: #0fa7fd;
        overflow: hidden;
       }
       .goNum{
        border:solid 1px #9c9c9c;
        display: block;
        float: right;
        width: 55px;
        height: 20px;
        padding: 0;
        margin: 0;
        margin: 0 5px;
        text-align:center;
       }
       .gobtn{
        display: block;
        width: 28px;
        height: 22px;
        line-height: 22px;
        color: #fff;
        font-family: "Microsoft YaHei";
        text-align: center;
        background: #0fa7fd;
        border:none;
        float:right;
        padding: 0;
        margin: 0;
       }

